body {
    background-color: #7f9513;
}

div {
    padding: 10px;
    margin: 15px;
    border-radius: 10px;
}

img {
    border-radius: 5px;
    max-width: 100%;
}

section {
    color: white;
    margin: 2% 3% 2% 3%;
    background-color: #1F3D87;
    border-radius: 10px;
    padding: 10px;
}

.red_background {
    background-color: #871f2d;
}

.green_background {
    background-color: #1fa34b;
}

.with_border {
    border: 3px solid black;
}
